

        <div class="overlay"></div>

        <div class="text">
            <h2>Don't Stop</h2>
            <h3>Exploring The World</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum modi itaque, amet veritatis aliquam illum placeat laudantium fugiat doloremque! Repudiandae eligendi veniam alias hic sunt sit voluptatem expedita, pariatur tempore!</p>
            <a href="#">Explore</a>
        </div>

       